{% assign sorted_pages2 = site.pages | sort: 'order' %}

{% assign sorted_pages = "" | split: ""  %}
{% for item in sorted_pages2 %}
	{% unless item.url == "/biggie-smalls.json" %}	
		{% assign sorted_pages = sorted_pages | push: item %}
	{% endunless %}	
{% endfor %}

{% for item in sorted_pages %}
    {% if item.url == page.url %}
    	{% assign this_i = forloop.index0 %}
    	{% assign num_of_pages = forloop.length %}
    	{% assign last_i = forloop.length | minus: 1 %}
    	{% assign next_i = forloop.index0 | plus: 1 %}
    	{% assign prev_i = forloop.index0 | minus: 1 %}
	{% endif %}
{% endfor %}

<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html>
<head>
<title> Project GRENSVRIJHEID 40 jaar vrijzinnig jeugdwerk </title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>

<body>
<div id="menutoggler"><a href="#">menu</a></div>
<div id="slogan">40 jaar vrijzinnig jeugdwerk</div>
<div id="pagenumber">{{ this_i | plus: 1 }}/{{ num_of_pages }}</div>
<div id="vorige"><a href="{% if prev_i < 0 %}{{ sorted_pages[last_i].url }}{% else %}{{ sorted_pages[prev_i].url }}{% endif %}">vorige</a></div>
<div id="volgende"><a href="{% if num_of_pages > next_i %}{{ sorted_pages[next_i].url }}{% else %}{{ sorted_pages[0].url }}{% endif %}">volgende</a></div>

<a id="logo" href="/index.html"><img src="/img/logo.png" /></a>
{% if page.image %}<a id="title" href="index.html"><img src="{{ page.image }}" /></a>{% endif %}
{% if page.images[0] %}<a id="img1" onclick="lightbox('img1')"><img src="{{ page.images[0].image }}" style="opacity: {{ page.images[0].opacity }};" /></a>{% endif %}
{% if page.images[1] %}<a id="img2" onclick="lightbox('img2')"><img src="{{ page.images[1].image }}" style="opacity: {{ page.images[1].opacity }};" /></a>{% endif %}
{% if page.images[1] %}<div id="placeholder"></div>{% endif %}
{% if page.youtube %}<a id="youtube" href="#" onclick="lightbox('youtube')"><img src="{% if page.youtube.max-res %}http://img.youtube.com/vi/{{ page.youtube.id }}/maxresdefault.jpg{% else %}http://img.youtube.com/vi/{{ page.youtube.id }}/hqdefault.jpg{% endif %}" style="opacity: {{ page.youtube.opacity }};" /></a>{% endif %}


<div id="page"><div id="innerpage"><div id="innerinnerpage" class="page1">

{{content}}

</div></div></div>

<a id="leesverder" href="#" onclick="nextpage()">lees verder</a>
<script>$('#leesverder').css('opacity','0');</script>


<table id="lightbox" cellspacing="0" cellpadding="0" onclick="$('#lightbox').removeClass('visible'); $('#lightbox iframe').attr('src','');setTimeout(function(){ $('#lightbox').css('z-index','-1'); }, 300);"><tr><td>{% if page.images[0] %}<img id="lb_img1" src="{{ page.images[0].image }}" onclick="event.stopPropagation();" />{% endif %}{% if page.images[1] %}<img id="lb_img2" src="{{ page.images[1].image }}" onclick="event.stopPropagation();" />{% endif %}<iframe id="lb_youtube" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe></td></tr></table>


<script>
function lightbox(el) {
	$('#lightbox').css('z-index','99');
	$('#lb_img1').hide();
	$('#lb_img2').hide();
	$('#lb_youtube').hide();
	$('#lightbox').addClass('visible');
	$('#lb_'+el).show();
	if(el=='youtube') $('#lb_youtube').attr('src','https://www.youtube.com/embed/{{ page.youtube.id }}?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1');
}
function checkpaging() {
	$('#innerinnerpage').append('<div style="height: 1px; position: relative; bottom: 1.4em;"></div>');
	var p1 = $('#innerinnerpage > *:last-child').offset();
	var p2 = $('#innerpage').offset();
	if(p1.left<(p2.left+$('#innerinnerpage').width()+50)) {
		$('#leesverder').remove();
		console.log(p1.left+'<'+(p2.left+$('#innerinnerpage').width()+50));
	}
	else $('#leesverder').css('opacity','1');
	$('#innerinnerpage > *:last-child').remove();
}
function nextpage() {
	$('#innerinnerpage').append('<div style="height: 1px; position: relative; bottom: 1.4em;"></div>');
	var p1 = $('#innerinnerpage > *:last-child').offset();
	var p2 = $('#innerpage').offset();
	if(p1.left>p2.left) {
		if($('#innerinnerpage').hasClass('page7')) $('#innerinnerpage').addClass('page8');
		if($('#innerinnerpage').hasClass('page6')) $('#innerinnerpage').addClass('page7');
		if($('#innerinnerpage').hasClass('page5')) $('#innerinnerpage').addClass('page6');
		if($('#innerinnerpage').hasClass('page4')) $('#innerinnerpage').addClass('page5');
		if($('#innerinnerpage').hasClass('page3')) $('#innerinnerpage').addClass('page4');
		if($('#innerinnerpage').hasClass('page2')) $('#innerinnerpage').addClass('page3');
		if($('#innerinnerpage').hasClass('page1')) $('#innerinnerpage').addClass('page2');	
	}
	if(p1.left<(p2.left+$('#innerinnerpage').width()+50)) {
		$('#leesverder').remove();
	}
	//console.log(p1.left+'<'+(p2.left+$('#innerinnerpage').width()+50));
	//$('#innerinnerpage > *:last-child').remove();
} 
checkpaging()
</script>
<script type='text/javascript' src='/js/grayscale.js'></script>
<script type='text/javascript' src="/js/functions.js"></script>

</body>

</html>
